html,body{
	height:100%;
	overflow:hidden;
}

h1{
	color: green;
	text-align: center;
	font-size: 100px;
}
h2{
	border-style: solid;
	border-width:5px;
	text-align: center;
	padding: 20px;
	
}

.hidden{
	display:none;
}

#answers{
	display: inline-block;
    vertical-align: middle;
    float: none;
	height:80%;	
}

#answers  div{
	display:block;
	margin: 0 auto;
}

#start{

	display:block;
	text-align: center;
	margin:0 auto;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
p{
	text-align:center;
	font-size: 30px;
	background-color:cyan;
}
footer{
	text-align: center;
	background-color: plum;
	height:100%;
}

#points {
	text-align: center;
}

#winlose {
	text-align: center;
}

#landfill{
	text-align: center;
}

#scoreboard{
	margin: 0 auto;
	border: 10px solid green;
	width: 75px;
	height:40px;

}

.won{
	color: green;

}

.lose{
	color: red;

}

