html,body{
	height:100%;
	overflow:hidden;
	
}
#backImage{
	background: url("images/firstpage.jpg");
	background-size: 1200px;
}


h1.jumbotron{

	color: green;
	text-align: center;
	font-size: 100px;
	background-color: lawngreen;
	font-family: "Times New Roman";
}
h2,p{
	border-style: solid;
	border-width:5px;
	text-align: center;
	padding: 20px;
	font-family: "Times New Roman"
}

.hidden{
	display:none;
}

#answers{
	display: inline-block;
    vertical-align: middle;
	height:80%;	
}

#answers  div{
	display:block;
	margin: 0 auto;
}

#start{

	display:block;
	text-align: center;
	margin:0 auto;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

p{
	text-align:center;
	font-size: 30px;
	background-color:cyan;
}
footer{
	text-align: center;
	background-color: plum;
	height:100%;
}

#win{
text-align: center;
}
#points{
	text-align: center;
}
#firstPage{
border-style: solid;
border-width: 5px;
text-align: center;
padding: 20px;
color: lawngreen;
background-color: seagreen;
}

#scoreboard{
	margin: 0 auto;
	border: 10px solid green;
	width: 75px;
	height:40px;

}
